* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.background {
    background-color: #aec0d4;
}

.main section p {
    margin: 30px;
    padding: 15px;
    width: 80%;
}

.contenedorTitulos {
    margin-top: 130px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloPrincipal {
    color: black;
    font-family: $font-family-title;
    font-weight: lighter;
    font-size: 40px;
    text-align: center;
    top: 10px;
    bottom: 20px;
}

.frase {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: thin;
    font-size: 23px;
    text-align: center;
    width: 40%;
}

.mainImageSize {
    background-size: cover;
    width: 100%;
    height: 105vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: inicio;
    animation-duration: 3s;

    & {
        background-image: url("../images/background.png");
    }

    .contenedorInfo {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .infoAstrologa {
        padding: 20px;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__image {
            padding: 10px;
            height: 200px;
            width: 200px;
            border-radius: 50%;
        }
    }

}

.sectionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__input {
        font-family: $font-family;
        width: 30%;
        padding: 10px;
    }

    &__div {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        gap: 30px;
        padding-top: 30px;
    }

    &__p {
        font-family: $font-family;
        font-size: 16px;
    }

    &__btn {
        margin-top: 30px;
        gap: 30px;
        padding: 8px;
        color: grey;
        background-color: white;
        border-color: white;
        border-radius: 5px;
        font-family: $font-family;
        font-size: 16px;

    }
}
.form-select {
    color: $color-principal;
   
}
.form-control-size {
    width: 70%;
}
.usuarios {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    &__texto {
        font-family: $font-family;
        font-size: 14px;
        padding: 10px;
        font-weight: normal;
    }

    &__textoNombre {
        padding: 20px;
        font-family: $font-family-title;
        font-size: 16px;
    }

    &__div {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 10px;
    }
}

.cartaAstral {
    width: 400px;
    height: 400px;
}

.astrologia {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    &__signos {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-items: center;
        flex-wrap: wrap;
        align-items: flex-evenly;
        padding: 10px;

    }

    &__signo {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    &__frase {
        font-family: $font-family-title;
        font-size: 16px;
        font-weight: normal;
    }

    &__titulos {
        font-family: $font-family;
        font-size: 16px;
        font-weight: bold;
    }

    &__imagen {
        padding-bottom: 10px;
        height: 280px;
        width: 200px;

    }

    &__texto {
        font-family: $font-family;
        font-size: 14px;
        width: 75%;
        padding-top: 10px;
        text-align: justify center;
    }

}