$color-principal: #C5D9D3;
$color-secudario:rgba(242,242,242, 0.5);
$font-family: 'Montserrat', sans-serif;
$color-fonts: #F2EFDB;
$font-family-title: 'Pacifico', cursive;


@font-face { 
    font-family: 'Montserrat';
    src: url(//fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Montserrat:wght@800&family=Roboto:wght@900&display=swap);
}

@font-face { 
    font-family: 'Pacifico';
    src: url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
}